.bodyi {
    max-width: 414px;
    max-height: 420px;
    text-align: center;
}

.indexT1 {
    position: relative;
    font-size: medium;
    text-align: center;
    margin-top: 2.5rem;
    bottom: 20rem;
    color: white;
}

.h2i {
    font-size: 4rem;
    color: #b50559;
    text-align: center;
}

.headeri {
    width: 414px;
    height: 420px;
    padding: 2px 2px 2px 2px;
    border-radius: 15px;
    background-image: linear-gradient(-180deg, rgba(242, 6, 119, 1) 0%, #000000 100%);
    box-sizing: border-box;
    color: white;
}

.buttoni {
    background-color: red;
    color: white;
    width: 100px;
    height: 50px;
    border-radius: 30px;
    font-weight: bold;
    text-align: center;
    width: 279px;
    height: 50px;
}

.info {
    width: 414px;
    height: 596px;
    border-radius: 20%;
}




.headera {
    width: 414px;
    height: 120px;
    padding: 2px 2px 2px 2px;
    border-radius: 15px;
    background-image: linear-gradient(-180deg, rgba(242, 6, 119, 1) 0%, #000000 100%);
    box-sizing: border-box;
    color: white;
}

#sidenav {
    height: 100%;
    width: 250px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: -250px;
    background-color: #e8e8e8;
    padding-top: 60px;
    transition: left 0.5s ease;
}

#sidenav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}


#sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

#sidenav a:hover {
    color: #111;
}

#sidenav.active {
    left: 0;
}

#sidenav .close {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
}

.burger-icon span {
    display: block;
    width: 35px;
    height: 5px;
    background-color: white;
    margin: 6px 0;
}

.clear {
    clear: both;
}

.box_img {
    width: 414px;
    height: 3rem;

}

.box .box_img img {
    width: 90%;
    height: 9rem;
    border-radius: 20%;
}

.box {
    width: 414px;
    height: 157px;
    padding: 2px 2px 2px 2px;
    border-radius: 15px;
    border: 1px solid #797979;
    background-color: #ffffff;
    box-sizing: border-box;
    margin: 1rem;
    display: flex;
}

.h2a {
    width: 414px;
    height: 120px;
}

.h3a {
    display: inline-block;
    font-size: large;
}

.text {
    display: inline-block;
    width: 100%;
    height: 140px;
    font-family: "Arial", sans-serif;
    font-size: small;
}

.buttona {
    border: none;
    display: inline-block;
    border-radius: 10px;
    font-size: 7.5px;
    width: 3rem;
    align-items: center;
    font-size: 0.5rem;
}


.autreb {
    display: inline-block;
    background-color: #d10667;
    color: white;
    border-radius: 5px;
}

.box2 {
    width: 414px;
    height: 157px;
    padding: 2px 2px 2px 2px;
    border-radius: 15px;
    border: 1px solid #797979;
    background-color: #ffffff;
    box-sizing: border-box;
    margin: 1rem;
    display: flex;
}

.enregistrements {
    background-color: rgba(255, 255, 255, 0);
    box-sizing: border-box;
    font-family: "Roboto Bold", "Roboto", sans-serif;
    font-weight: 700;
    color: #c80663;
    text-align: left;
    line-height: normal;
}

#penregistrement {
    width: 282px;
    height: 36px;
    padding: 2px 2px 2px 2px;
    background-color: #ffffff;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    color: #000000;
    border-radius: 10px;
    text-align: center;
    margin-left: 10%;
}

#penregistrement:disabled {
    background-color: #f0f0f0;
    box-sizing: border-box;
}

.h2h {
    width: 279px;
    height: 50px;
    background-color: #ffffff;
    box-sizing: border-box;
    font-family: "Roboto Bold", "Roboto", sans-serif;
    font-weight: 500;
    color: #333333;
    margin-left: 11%;
    line-height: normal;
    border: green 5px solid;
}

.h3h{
    background-color: #ffffff;
    box-sizing: border-box;
    font-family: "Roboto Bold", "Roboto", sans-serif;
    font-weight: 500;
    color: #333333;
    text-align: center;
    line-height: normal;
}

.buttonh{
    background-color: red;
    color: white;
    width: 279px;
    height: 50px;
    border-radius: 30px;
    font-weight: bold;
    text-align: center;
    margin-left:10% ;
}

.divv{
    border:#000000 5px solid;
}